html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#page-layout {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 125px;
}

img {
    width: 12%;
    height: 12%;
    margin-left: 150px;
}

li:hover {
    background-color:beige;
}

#logo:hover {
    opacity: 70%;
}