html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#general-layout {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
}

#page-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursive-logo {
  width: 10%;
  height: 10%;
  margin-left: 100px;
}

.nav-link:hover {
  background-color: beige;
}

#current {
  background-color: beige;
}

#logo:hover {
  opacity: 70%;
}

#here {
  color: gray;
}

#here:link {
  text-decoration: none;
}

#here:visited {
  text-decoration: none;
}

#here:hover {
  text-decoration: none;
  color: lightgray;
}

#here:active {
  text-decoration: none;
}

.index-portrait > img {
  width: 50%;
  float: right;
}

.index-description {
  font-size: 1.15rem;
  float: left;
}

#social-links > a {
  color: black;
  padding-right: 20px;
}

#social-links > a:hover {
  color: lightgray;
}

#vsco {
  width: 19px;
  height: 19px;
  margin: 0px;
  margin-bottom: 5px;
}

#vsco:hover {
  opacity: 40%;
}

table {
  border: none;
}

h5 {
  color: grey;
}

.card-title,
#chopin-description {
  color: black;
}

#carousel-container {
  width: 60%;
}

.carousel-slide-title {
  text-decoration: none;
  color: white;
  text-align: left;
}

.carousel-slide-title:hover {
  color: beige;
}

.carousel-description {
  text-align: left;
}

#leibovitz-description {
  background: rgba(179, 189, 211, 0.192);
}

#pudding-description {
  color: black;
}

#pudding-description > h4:hover {
  background: beige;
}

#pudding-description > a {
  color: rgb(158, 151, 151);
}

#staging {
  width: 60%;
  margin-left: 80px;
}

#google-staging {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

td {
  padding: 10px;
}

#advising-carousel {
  width: 80%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='00000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='00000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#indicators {
  display: none;
}

#ideation-sketch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#ideation-sketch-safepath {
  width: 100%;
}

#brainstorming-sketch-advising {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#ideation-sketch-advising {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#background-advising {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#safepath-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#text-image {
  display: flex;
}

#view-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#view-button:hover {
  background-color: beige;
  color: black;
  border: beige;
}

#preview-image-google {
  width: 60%;
  margin-left: 80px;
  opacity: 50%;
}

#preview-image-seattle {
  width: 80%;
  margin-left: 50px;
  opacity: 50%;
}

#preview-image-safepath {
  width: 70%;
  margin-left: 40px;
  opacity: 50%;
}

#preview-image-advising {
  width: 95%;
  margin-left: 20px;
  opacity: 50%;
}

.back-link {
  color: black;
}

.back-link:hover {
  text-decoration: none;
}

.back-link > h3:hover {
  background-color: beige;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Height of the footer */
}

@media (min-width: 320px) {
  .nav-link:hover {
    background-color: beige;
  }

  #general-layout {
    padding: 0.5rem;
  }

  #cursive-logo {
    width: 25%;
    height: 25%;
    margin-left: 0.5rem;
  }

  li {
    font-size: 0.65rem;
  }

  #text {
    display: inline-block;
  }

  #image {
    display: inline;
  }

  .about-portrait > img {
    width: 80%;
    padding-bottom: 280px;
    margin-top: 80px;
    padding-right: 0px;
  }

  h1 {
    font-size: 0.98rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 0.98rem;
  }

  p {
    font-size: 0.6rem;
  }

  #social-links > a {
    display: inline-block;
    padding-right: 0.25rem;
  }

  #social-links > a > i {
    font-size: 0.7rem;
  }

  #social-links > a > img {
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 4px;
  }

  #carousel-container {
    margin-bottom: 60px;
  }

  .carousel-slide-title {
    font-size: 0.8rem;
  }

  .carousel-description {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 480px) {
  #general-layout {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #cursive-logo {
    width: 18%;
    height: 18%;
    margin-left: 0.5rem;
  }

  .index-portrait > img {
    display: inline;
  }

  li {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.15rem;
  }

  p {
    font-size: 0.7rem;
  }

  #social-links > a {
    display: inline-block;
    padding-right: 0.9rem;
  }

  #social-links > a > i {
    font-size: 0.9rem;
  }

  #social-links > a > img {
    width: 0.95rem;
    height: 0.95rem;
    margin-bottom: 0.4rem;
  }

  .about-portrait > img {
    width: 80%;
    margin-top: 40px;
    padding-bottom: 100px;
    padding-right: 0px;
  }

  footer {
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.9rem;
  }

  #carousel-container {
    width: 60%;
  }

  .carousel-description {
    font-size: 0.4rem;
  }

  .about-portrait > img {
    display: inline;
    padding-bottom: 80px;
  }
}

@media (min-width: 1000px) {
  #general-layout {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #cursive-logo {
    width: 12%;
    height: 12%;
    margin-left: 50px;
  }

  li {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.1rem;
  }

  .about-portrait > img {
    display: inline;
    padding-bottom: 200px;
  }

  .index-portrait > img {
    display: inline;
  }

  #social-links > a {
    display: inline-block;
    padding-right: 1.1rem;
  }

  #social-links > a > i {
    font-size: 1.25rem;
  }

  #social-links > a > img {
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.6em;
  }

  .carousel-description {
    font-size: 0.5rem;
  }

  footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #general-layout {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
  }

  .about-portrait {
    padding-left: 50px;
  }

  .about-portrait > img {
    margin-top: 55px;
    padding-bottom: 150px;
  }

  #cursive-logo {
    margin-left: 200px;
  }

  #carousel-container {
    width: 60%;
  }

  .carousel-description {
    font-size: 0.8rem;
  }
}
